body {
  overflow: hidden;
}

canvas {
  cursor: grab;

  &[data-grabbing] {
    cursor: grabbing;
  }

  &[data-no-grab] {
    cursor: default;
  }
}



[data-modal] {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;

  background-color: $clr-darkgray;
  border-radius: toRem(4);

  padding: toRem(10);

  .info-node {
    color: white;
    text-transform: lowercase;
    font-family: sans-serif;
    font-size: toRem(12);
    white-space: nowrap;
  
    span {
      color: $clr-teal;
      font-size: toRem(18);
    }
  }

  &[data-modal-open] {
    gap: toRem(24);

    [data-collapsible] {
      height: auto;
      width: auto;
      overflow: visible;
    }
  }

  &[aria-label="modal-controls"] {
    top: toRem(10);
    left: toRem(10);
  }

  &[aria-label="modal-info"] {
    bottom: toRem(10);
    right: toRem(10);

    > svg {
      order: 2;
    }
    
    [data-collapsible] {
      align-items: flex-end;
      svg {
        margin-inline: auto;
        margin-bottom: toRem(8);
      }
    }
  }

  [data-collapsible] {
    display: flex;
    overflow: hidden;
    gap: toRem(16);
    height: 0;
    width: 0;
  }

  svg {
    display: block;
    color: white;
    width: toRem(28);
    aspect-ratio: 1;

    &[data-trigger] {
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $clr-teal;
      }
    }
  }

  button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      opacity: 0;
      transition: none;
    }

    &:hover {
      &::before,
      &::after {
        opacity: 1;
        transition: all 0.2s ease-in-out 0.75s;
      }
      
      &::before {
        top: 105%;
      }
      
      &::after {
        bottom: -130%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 110%;
      left: 50%;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent white transparent; 
      transform: translateX(-50%);
    }

    &::after {
      content: attr(aria-label);
      position: absolute;
      bottom: -140%;
      left: 50%;

      color: $clr-darkgray;
      text-transform: lowercase;
      font-family: sans-serif;
      font-size: toRem(12);
      white-space: nowrap;

      background-color: white;
      border-radius: toRem(2);

      padding: toRem(4);
      transform: translateX(-50%);
    }

    svg {
      pointer-events: none;
      transition: color 0.2s ease-in-out;
    }

    &:hover {
      svg {
        color: $clr-teal;
      }
    }
  }

  span {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: toRem(12);
    display: block;
  }
}